# all of the datasets' directories
/camas_tiles
/camas_tiles_test
/camas_tiles_train
/camas_tiles_validation
/camas_tiles_test_avg
/camas_tiles_train_avg
/camas_tiles_validation_avg
/camas_tiles_test_YCRCB
/camas_tiles_train_YCRCB
/camas_tiles_validation_YCRCB
/dataset3amostras
/dataset4amostrasFrente+Umida
/dataset5amostrasMeio+Seca
/dataset6amostrasFundo+Intermediaria
/dataset7CascaAmendoim6semCentroL1
/results_h5
/images
/256x256_images
/h5_notebook
/poor_performing_models
/images
/results_txt/jetson-but-bad
/results_txt/testing_models
/results_txt/old_trainings
/results_csv/testing_notebook
/results_csv/jetson-but-bad
/results_csv/old_results
/discarded